--color-primary:rgba(88, 0, 240, 1); /*--brand-color*/
         --color-secondary:black;  /*--brand-second-color*/
         --border-color:rgba(133, 133, 133, 0.30);
         --border-color-active:var(--color-secondary); /* you can chnage forced */
         --border-width:1px;
         --border-style:solid;
         --border-radius:5px;
         --box-shadow-color:rgba(0, 0, 0, 0.1);
         --background-color:white;
         --color:hsla(0, 0%, 24%, 1);
         --color-active:white;
         --checkmark-fill:black;
         --checking-fill:black;
         --disabled-bacground:rgba(250, 250, 250, 0.08);
         --disabled-opacity:0.50;
         --error-color:hsla(0, 100%, 57%, 1);
         --font-size:17px;
         /*--icon-size:calc(var(--font-size) + 5px); */  /* you can chnage forced */
         --left-background:rgba(240, 240, 240, 0.50);
         --min-height:30px;
         --placeholder-color: #999999; /*hsla(0, 0%, 24%, 1)*/
         --padding:5px; /*top-bottom*/ 
         --right-icon-fill:#999999;
         --redio-height:20px;
         --transition-time: 200ms;
         --ul-hover:rgba(181, 181, 181, 0.34); 
