<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>smaple</title>
</head>

<body class="theme fixed p0 over-x-adjust center">
    <nav class="sidebar b-right" s-defind="menu">
        <div class="padding-cnt  bar-exp" cnt-tag="header">
            sidebar content
        </div>
        <div class="sidebar-content padding-cnt">
            <dt>this aq Cotentn</dt>
        </div>
        <div class="padding-cnt" cnt-tag="footer">footer</div>
    </nav>
    <div class="body   flex flex-col">
        <header class="padding-cnt">
            <div class="h3">Hedaer</div>
            <button sidebar="trigger" s-defind="menu">Openbar</button>
        </header>

        <div class="home padding-cnt d-scroll">
            <h1>hello World</h1>
        </div>
    </div>
</body>

</html>
