@media (min-width: 768px) {
    [scroll-br] {
        scrollbar-width: thin;


    }

    [scroll-br]::-webkit-scrollbar {
        width: 8px;
    }

    [scroll-br]::-webkit-scrollbar-thumb:hover {
        background: #999999;
    }


    [scroll-br]::-webkit-scrollbar-thumb:active {
        background: #999999;
    }

    [scroll-br]::-webkit-scrollbar-thumb {
        background: rgba(209, 209, 209, 0.94);
        border-radius: 6px;
    }

}

[none-scroll] {
    scrollbar-width: none;
}

[none-scroll]::-webkit-scrollbar {
    width: 0px;
    display: none;
    background-color: none;
}

[none-scroll]::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0);
}


@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

:root {

    background: none;
    /* min-height: 40px; */

    --color-primary: rgba(88, 0, 240, 1);
    /*--brand-color*/
    --color-secondary: black;
    /*--brand-second-color*/
    --color-success: rgba(0, 194, 0, 1);
    --color-warning: #f5f500;
    --border-color: rgba(133, 133, 133, 0.30);
    --border-color-active: var(--color-secondary);
    /* you can chnage forced */
    --border-width: 1px;
    --border-style: solid;
    --border-radius: 5px;
    --box-shadow-color: rgba(0, 0, 0, 0.1);
    --background-color: white;
    --color: hsla(0, 0%, 24%, 1);
    --color-active: white;
    --checkmark-fill: black;
    --checking-fill: black;
    --disabled-bacground: rgba(250, 250, 250, 0.08);
    --disabled-opacity: 0.50;
    --error-color: hsla(0, 100%, 57%, 1);
    --font-size: 17px;
    --fill: #999999;
    /*--icon-size:calc(var(--font-size) + 5px); */
    /* you can chnage forced */

    --level-1: 1;
    /*z-index:1 ; content level;*/
    --level-5: 5;
    /*z-index:10 ;content hoverd lke fixed chat icon or..*/
    --level-50: 50;
    /*z-index: ; header sidebar;*/
    --level-100: 100;
    /*z-index: ;Popover, Dialog; dropdown, Tooltip*/
    --level-150: 150;
    /*z-index: ;Alert Dialog*/

    --left-background: rgba(240, 240, 240, 0.50);
    --left-icon-fill: #999999;
    --min-height: 30px;
    --placeholder-color: #999999;
    /*hsla(0, 0%, 24%, 1)*/
    --padding: 5px;
    /*top-bottom*/
    --right-icon-fill: #999999;
    --redio-height: 20px;
    --transition-time: 200ms;
    --ul-hover: rgba(181, 181, 181, 0.34);

}

[form-font-size] {
    font-size: var(--font-size);
}

[form-input-color] {
    color: var(--color);
}

[form-cursor] {
    cursor: pointer;
}

[form-cursor-not-allowed] {
    cursor: not-allowed;
}

[padding] {
    padding: var(--padding) 10px var(--padding) 10px;
}

[disabled] {
    opacity: var(--disabled-opacity);
    background-color: var(--disabled-bacground);
    cursor: not-allowed;

}
